/* MISC STYLES */
.control_ttl{
	margin: 5px 0px 0px 0px !important;
}



.btn-default.green_but {

    background-color: #1abb9c !important;
	border-color: #ccc !ccc;
	color:white;
	font-weight:bold;
}


.btn-default.red_but {

    background-color: #e74c3c !important;
	border-color: #ccc !important;
	color:white;
	font-weight:bold;
}
.btn-default.blue_but {

    background-color: #2a3f54 !important;
	border-color: #ccc !important;
	color:white;
	font-weight:bold;
}


.btn-default.blue_but.active, .btn-default.blue_but:active, .open>.dropdown-toggle.btn-default.blue_but{
	color:lightgrey !important;
	
}

<<<<<<< HEAD
/* Reducing line height of token drop down menus */
.dropdown-menu li a{
	line-height: 1 !important;
}

.x_title h2{
	overflow: visible !important;
=======

/* reduce line height in drop down */
.dropdown-menu li a{
	line-height: 0.9 !important;
}


/*footer fix */
@media (min-width: 992px)
footer {
    margin-left: 0px !important;
}

footer {
    margin-left: 0px !important;
>>>>>>> 3e66a8c98c3873a4aeb3b3adc6f81cf0b4b77828
}