<div class="row tile_count">
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count kpi_tile">
	  <span class="count_top">Total in BTC</span>
	  <div class="count">${i_val_1}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count kpi_tile">
	  <span class="count_top">Total in USD</span>
	  <div class="count">${i_val_2}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count kpi_tile">
	  <span class="count_top">Total in ${i_base_cur}</span>
	  <div class="count	">${i_val_3}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count kpi_tile">
	  <span class="count_top">Change 1h USD</span>
	  <div class="count ${i_val_4_c}">${i_val_4}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count kpi_tile">
	  <span class="count_top">Change 24h USD</span>
	  <div class="count ${i_val_5_c}">${i_val_5}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count kpi_tile">
	  <span class="count_top">Change 7d USD</span>
	  <div class="count ${i_val_6_c}">${i_val_6}</div>
	</div>
  </div>